*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
*.log
*.iml
*.DS_Store

.gradle/
.idea/
.cxx/
.navigation/
build/
bin/
gen/
out/
lint/
proguard/
captures/
fastlane/

vcs.xml
local.properties
.externalNativeBuild

freeline.py
freeline/
freeline_project_description.json


